<template>
  <div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true"  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Cotizador</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


        <div class="row container-cotizacion"  >

             <div class="col-9 mt-3">

               <table class="table table-striped table-bordered myTable">

                 <thead>
                 <th>Personas</th>

                 <th>Cantidad de horas</th>
                 <th>Costo total</th>
                 </thead>
                 <tbody>
                 <tr v-for="staff in allStaffs" >
                   <td > {{ staff.persona }}  </td>

                   <td>
                     <input type="number" class="form-control"  v-model.number="staff.cantidad_horas"  >
                   </td>
                   <td>
                     {{ staff.costo_total }}
                   </td>
                 </tr>
                 </tbody>
               </table>

             </div>
            <div class="col-3 mt-4">
             <div class="row">
               <div class="col-12 mt-5">
                 <label for="costosAdministrativos">Costos Administrativos  Mínimo 32, Máximo 48 </label>
                 <input type="text" v-model.number="costosAdministrativos" min="32" max="48"   id="costosAdministrativos" class="form-control">
               </div>
               <div class="col-12 mt-5">
                 <label for="utilidad">Utilidad Mínimo 20%, Esperado 40% </label>
                 <input type="text" v-model.number="utilidad" id="utilidad"  min="20" max="40" class="form-control">
               </div>
               <div class="col-12 mt-5">
                 <label for="utilidad" >Total: S/ </label>
                 <input type="text" disabled :value="sumTotal.toFixed(2)" class="form-control">

               </div>
             </div>
            </div>
           </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "CotizadorMi",
    data () {

      return {

        staffs : [

        ],
        sumTotal: 0,
        costosAdministrativos: 32,
        utilidad: 20,

      }


    },

    computed: {

      allStaffs () {

        let staff = this.staffs
        this.sumTotal = 0
        staff.forEach( el => {

          el.costo_hora = el.sueldo_ref * (1 + (el.costo_empresa / 100)) * (1 + (this.costosAdministrativos / 100)) * (1 + (this.utilidad / 100))
          el.costo_hora = el.costo_hora.toFixed(2)
          el.costo_total = parseFloat(el.costo_hora )* el.cantidad_horas
          el.costo_total = el.costo_total.toFixed(2)
          this.sumTotal = parseFloat(this.sumTotal) +  parseFloat(el.costo_total)
        } )


        return staff

      }



    },

    methods: {



    },

    created() {
      let me = this
      axios
        .get('/getStaffs')
        .then( res => {

          me.staffs = res.data

        } )
        .catch( err => {

          console.log(err)
        })


    }

  }
</script>

<style scoped>
  .myTable tbody tr {

    height: 10px !important;

  }
  .myTable tbody tr td {
    padding: 0;
    line-height: 38px;
    text-align: center;
  }
  .container-cotizacion {
    padding: 10px;
  }
  .myTable thead th {

    text-align: center;

  }
  .myTable thead th:nth-child(2) {
    width:100px;
  }



</style>