<template>
    <div class="container">
        <h1 class="text-center">Horas recompensadas</h1>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#horas_recompensadas">
            Añadir Horas
        </button>
        <!-- <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#horas_deuda" @click="GETHORASDEUDA">
            Ver horas deuda
        </button> -->
        <paginate
                name="horas_recompensadas"
                :list="horas_recompensadas"
                :per="perPage"
        >
        </paginate>
        <table class="table table-stripped">
            <thead>
            <th>Nombre</th>
            <th>Horas</th>
            <th>Fecha</th>
            <th>Opciones</th>


            </thead>
            <tbody>
            <tr v-for="horas in paginated('horas_recompensadas')" :key="horas.id" >
                <td v-text="horas.name"></td>
                <td v-text="horas.horas"></td>
                <td v-text="horas.fecha"></td>
                <td >
                    <button class="btn btn-success " data-toggle="modal" data-target="#horas_recompensadas" @click="edit(horas)">Editar</button>
                    <button class="btn btn-danger" @click="deleteDialog(horas.id)" >Eliminar</button>
                </td>
            </tr>

            </tbody>
        </table>
        <paginate-links
                for="horas_recompensadas"

                :classes="{
                  'ul' : 'paginar',
                  'ul li': 'paginar-item',
                  'ul li > a' : 'paginar-link'

                }"
        ></paginate-links>
        <!-- MODALS  -->
        <div class="modal fade" id="horas_recompensadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Horas </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" @click="limpiar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="myForm">
                        <div class="modal-body">

                                <div class="form-group">
                                    <label for="usuario">Usuario: </label>
                                    <input type="hidden" v-model="horas_r.id">
                                    <select name="usuario" id="usuario" class="form-control" v-model="horas_r.user_id" >
                                        <option v-for="user in users" :value="user.id" v-text="user.name"  ></option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="horas">Horas </label>
                                    <input type="number" class="form-control" id="horas" v-model="horas_r.horas" placeholder="Horas">
                                </div>
                                <div class="form-group">
                                    <label for="fecha">Fecha </label>
                                    <input type="date" class="form-control" id="fecha"  v-model="horas_r.fecha">
                                </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss" @click="limpiar">Cancelar</button>
                            <button type="button" class="btn  btn-primary " @click="save" id="btnOperacion">Registrar</button>
                        </div>
                </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="horas_deuda" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Horas deuda</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                        <div class="modal-body">

                            <table class="table table-stripped">
                                <thead>
                                    <th>Nombre</th>
                                    <th>Horas extras</th>
                                    <th>Horas recompensadas</th>
                                    <th>Horas deuda</th>
                                </thead>
                                <tbody>
                                    <tr v-for="horas in horas_deuda" :key="horas.usuario">
                                        <td v-text="horas.usuario"></td>
                                        <td v-text="horas.horas_extras"></td>
                                        <td v-text="horas.horas_recompensadas"></td>
                                        <td v-text="horas.horas_deuda"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>


                </div>
            </div>
        </div>

    </div>
</template>

<script>
    const byId = document.getElementById
    import { mapState, mapMutations, mapActions, mapGetters  } from "vuex";
    export default {
        name: 'HorasRecompensadas',
      data () {
          return {
            fecha : '',
            horas: 0,
            user_id: '',
            paginate: ['horas_recompensadas'],
            perPage: 20,
            horas_r :{
              }
          }
      },
      methods : {
        ...mapActions('horas_recompensadas',['getData','saveData']),
        ...mapMutations('horas_recompensadas',['GETHORAS_RECOMPENSADAS_BY_ID','DELETEDATA','GETHORASDEUDA']),
          save() {
           let data = new FormData();
              data.append('fecha',this.horas_r.fecha)
              data.append('horas',this.horas_r.horas)
              data.append('user_id',this.horas_r.user_id)
              data.append('id',this.horas_r.id)
             let result =  this.saveData(data)
              return result
          },
          edit(data) {
              let hora = Object.assign({}, data);
              let fecha = hora.fecha.split('-')
              this.horas_r = hora
              this.horas_r.fecha = `${fecha[2]}-${fecha[1]}-${fecha[0]}`
              document.getElementById('btnOperacion').textContent = 'Actualizar'
          },
          limpiar() {
            this.horas_r = {}
              document.getElementById('btnOperacion').textContent = 'Registrar'
          },
          deleteDialog(id) {

              let me = this
              alertify.confirm("Horas recompensadas", 'Desea eliminar el registro ?',
                      function(){

                          me.DELETEDATA(id)
                      },
                      function(){
                          alertify.error('Cancelado');
                      });
          }
      },
      computed : {
        ...mapState('horas_recompensadas' , ['horas_recompensadas','users','horas_recompensadas_id','horas_deuda']),
        ...mapGetters('user', ['getAreas','getTribus'])
      },
      mounted() {
          this.getData()
      }
    }
</script>

