<template>
  <div class="">
    <div class='fc-event' v-for="item in list_task" :id="item.id" v-bind:style="{ 'background': item.color }">
      {{item.title}}
      <p>({{item.cliente}})</p>
      <!-- <input type="hidden" name="idtask" v-model="item.id"> -->
    </div>
    <hr>
    <a href="javascipt:void(0)" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">Add task</a>

    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">New task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <form id="new_task" v-on:submit.prevent>
                  <div class="form-row">
                    <div class="form-group col-md-8">
                      <label >Cliente</label>
                      <select class="form-control" name="task_cliente">
                        <option v-for="client in list_clients" :value="client.id" :data-name="client.nombre"  >{{ client.nombre }}</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label >Duration</label>
                      <input type="text" class="form-control" name="task_duration">
                    </div>
                    <div class="form-group col-md-12">
                      <label >Title task</label>
                      <input type="text" class="form-control" name="name_task">
                    </div>
                    <div class="form-group col-md-12">
                      <label >Description task</label>
                      <textarea name="description_task" class="form-control" ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary" v-on:click="new_popup_task()">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>


</template>

<script>
    export default {
        name: 'lista-component',
        data: function () {
            return {
              list_task: [],
              list_clients: [],
            }
        },
        methods:{
          get_list_task(){
            const me = this
            axios.get('/api/list_task_back')
              .then(function (response) {
                 console.log(response);
                 me.list_task = response.data
             })
             .catch(function (error) {
                 console.log(error);
             });
          },
          new_popup_task(){
              const me = this
              const task_cliente = $("select[name='task_cliente']").val()
              const task_duration = $("input[name='task_duration']").val()
              const name_task = $("input[name='name_task']").val()
              const description_task = $("textarea[name='description_task']").val()
              const name_client = $("select[name='task_cliente']").find(':selected').attr('data-name')

              axios.post('/api/add_task_back', {
                       task_cliente : task_cliente,
                       task_duration : task_duration,
                       name_task : name_task,
                       description_task : description_task,
                       name_client : name_client,
                 })
                .then(function (response) {
                   console.log(response);
                   me.get_list_task()
                   $("#new_task")[0].reset()
                   $('#exampleModalLong').modal('hide');
                   $('body').removeClass('modal-open');
                   $('.modal-backdrop').remove();
               })
               .catch(function (error) {
                   console.log(error);
               });

              // this.list_task.push({
              //   id : Date.now(),
              //   title: name_task,
              //   description: description_task,
              //   start: '2019-03-09',
              //   client_id: task_cliente,
              //   client: task_cliente,
              // });
          },
          get_list_clients(){
            const me = this
            axios.get('/api/list_clients')
              .then(function (response) {
                 console.log(response);
                 me.list_clients = response.data
             })
             .catch(function (error) {
                 console.log(error);
             });
          },
        },
        mounted() {
            this.get_list_task()
            this.get_list_clients()
            $('#exampleModalLong').on('shown.bs.modal', function (e) {
                $("#exampleModalLong").css({'display':'block'})
            })
            console.log('Component mounted.')
        }
    }
</script>
