<template>

    <div class="container">
       
      <div class="row">
          <div class="col-12">
            <h1>Usuarios</h1>
        </div>
      
      </div> 
      <div  class="col-12">
            <paginate
                name="users"
                :list="users"
                :per="perPage"
            >
            </paginate>
            <table class="table table-stripped">
                <thead>
                    <th>Nombre</th>
                    <th>Email</th>
                   
                   <th>Horas</th>
                    <th>Área</th>
                    <th>Tribu</th>
                   
                    <th>Opciones</th>
                </thead>
                <tbody>
               <tr v-for="user in paginated('users')" :key="user.id" >
                       <td v-text="user.nombre"></td>
                       <td v-text="user.email"></td>
                      
                       <td v-text="user.horas_totales"></td>
                       <td v-text="user.area"></td>
                       <td v-text="user.tribu"></td>
                      
                       <td >
                        <button class="btn btn-success " data-toggle="modal" data-target="#exampleModal" @click="GETUSERBYID(user.id),asignData()">Editar</button>
                        <button class="btn btn-danger" @click="deleteDialog(user.id)">Eliminar</button>
                       </td>
                    </tr>

                </tbody>
            </table>
            <paginate-links
                for="users"
              
                :classes="{
                  'ul' : 'paginar',
                  'ul li': 'paginar-item',
                  'ul li > a' : 'paginar-link'

                }"
            ></paginate-links>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" @click="clear()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="">
       

       
        <div class="form-row mt-4">
            <div class="col-12 col-md-3">
                <label for="nombre">Nombres:</label>
                <input type="text" name="nombres" id="nombres" v-model="userMI.nombres" class="form-control">
            </div>
            <div class="col-12 col-md-3">
                <label for="nombre">Apellidos:</label>
                <input type="text" name="apellidos" id="apellidos" v-model="userMI.apellidos" class="form-control">
            </div>
            <!-- <div class="col-12 col-md-3">
                <label for="nombre">Género:</label>
                <select name="genero" id="genero" class="form-control" v-model="userMI.genero" >
                    <option value="1">M</option>
                    <option value="2">F</option>
                    <option value="3">Otros</option>
                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3">
                <label for="nombre">Tipo de documento:</label>
                <select name="documento" id="documento"  v-model="userMI.documento" class="form-control">
                    <option value="1">DNI</option>
                    <option value="2">Pasaporte</option>

                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">N° documento:</label>
                <input type="text" name="n_documento" id="n_documento" v-model="userMI.n_documento" class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">Fecha  de nacimiento :</label>
                <input type="date" name="fecha_nacimiento" id="fecha_nacimiento" v-model="userMI.fecha_nacimiento"  class="form-control">
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Nacionalidad:</label>
                <select name="nacionalidad" id="nacionalidad" class="form-control" v-model="userMI.nacionalidad">
                    <option value="PE">Perú</option>
                    <option value="EC">Ecuador</option>
                    <option value="CO">Colombia</option>
                    <option value="CL">Chile</option>
                    <option value="VE">Venezuela</option>
                    <option value="UR">Uruguay</option>
                    <option value="PY">Paraguay</option>
                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Puesto:</label>
                <input type="text" name="puesto" id="puesto" v-model="userMI.puesto" class="form-control">
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Modalidad de contrato:</label>
                <select name="modalidad_contrato" id="modalidad_contrato" class="form-control" v-model="userMI.modalidad_contrato">
                    <option value="1">Servicio de Locación </option>
                    <option value="2">Indeterminado</option>
                    <option value="3">Convenio de Práctica</option>
                </select>
            </div> -->
            <div class="col-12 col-md-3">
                <label for="codigo">Fecha ingreso:</label>
                <input type="date" name="codigo" id="codigo" v-model="userMI.fecha_ingreso"  class="form-control">
             </div>
            <!-- <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">Fecha vencimiento de contrato :</label>
                <input type="date" name="fecha_vencimiento_contrato" id="fecha_vencimiento_contrato" v-model="userMI.fecha_vencimiento_contrato"  class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Tipo:</label>
                <select name="tipo_contrato" id="tipo_contrato" class="form-control" v-model="userMI.tipo_contrato">
                    <option value="1">RH </option>
                    <option value="2">PP</option>
                    <option value="3">Planilla</option>
                    <option value="4">CP</option>
                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">Tiempo :</label>
                <select name="tiempo" id="tiempo" class="form-control" v-model="userMI.tiempo">
                    <option value="1">Full Time </option>
                    <option value="2">Part Time</option>
                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">Banco :</label>
                <select name="banco" id="banco" class="form-control" v-model="userMI.banco">
                    <option value="1">BCP </option>
                    <option value="2">Interbank</option>
                    <option value="3">Scotiabank</option>
                    <option value="4">BBVA</option>
                </select>
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">N° interbancario :</label>
                <input type="number" name="interbancario" id="interbancario" v-model="userMI.interbancario"  class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4  ">
                <label for="codigo">N° cuenta bancaria :</label>
                <input type="number" name="numero_cuenta_bancaria" id="numero_cuenta_bancaria" v-model="userMI.numero_cuenta_bancaria"  class="form-control">
            </div> -->
            <div class="col-12 col-md-3">
                <label for="nombre">Email:</label>
                <input type="text" name="email" id="email" v-model="userMI.email" class="form-control">
            </div>
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Email personal:</label>
                <input type="text" name="email_personal" id="email_personal" v-model="userMI.email_personal" class="form-control">
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Celular:</label>
                <input type="number" name="celular" id="celular" v-model="userMI.celular" class="form-control">
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Telefono fijo:</label>
                <input type="number" name="tel_fijo" id="tel_fijo" v-model="userMI.tel_fijo" class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Contacto para emergencia:</label>
                <input type="text" name="persona_emergencia" id="persona_emergencia" v-model="userMI.persona_emergencia" class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Telefono contacto:</label>
                <input type="number" name="telefono_persona_emergencia" id="telefono_persona_emergencia" v-model="userMI.telefono_persona_emergencia" class="form-control">
            </div>
            <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Domicilio: </label>
                <input type="text" name="domicilio" id="domicilio" v-model="userMI.domicilio" class="form-control">
            </div> -->
            <!-- <div class="col-12 col-md-3 mt-4 ">
                <label for="nombre">Distrito:</label>
                <select name="distrito" id="distrito" class="form-control" v-model="userMI.distrito">

                    <option value="1">LIMA</option>
                    <option value="2">ANCON</option>
                    <option value="3">ATE</option>
                    <option value="4">BARRANCO</option>
                    <option value="5">BREÑA</option>
                    <option value="6">CARABAYLLO</option>
                    <option value="7">CHACLACAYO</option>
                    <option value="8">CHORRILLOS</option>
                    <option value="9">CIENEGUILLA</option>
                    <option value="10">COMAS</option>
                    <option value="11">EL AGUSTINO</option>
                    <option value="12">INDEPENDENCIA</option>
                    <option value="13">JESUS MARIA</option>
                    <option value="14">LA MOLINA</option>
                    <option value="15">LA VICTORIA</option>
                    <option value="16">LINCE</option>
                    <option value="17">LOS OLIVOS</option>
                    <option value="18">LURIGANCHO</option>
                    <option value="19">LURIN</option>
                    <option value="20">MAGDALENA DEL MAR</option>
                    <option value="21">MAGDALENA VIEJA</option>
                    <option value="22">MIRAFLORES</option>
                    <option value="23">PACHACAMAC</option>
                    <option value="24">PUCUSANA</option>
                    <option value="25">PUENTE PIEDRA</option>
                    <option value="26">PUNTA HERMOSA</option>
                    <option value="27">PUNTA NEGRA</option>
                    <option value="28">RIMAC</option>
                    <option value="29">SAN BARTOLO</option>
                    <option value="30">SAN BORJA</option>
                    <option value="31">SAN ISIDRO</option>
                    <option value="32">SAN JUAN DE LURIGANCHO</option>
                    <option value="33">SAN JUAN DE MIRAFLORES</option>
                    <option value="34">SAN LUIS</option>
                    <option value="35">SAN MARTIN DE PORRES</option>
                    <option value="36">SAN MIGUEL</option>
                    <option value="37">SANTA ANITA</option>
                    <option value="38">SANTA MARIA DEL MAR</option>
                    <option value="39">SANTA ROSA</option>
                    <option value="40">SANTIAGO DE SURCO</option>
                    <option value="41">SURQUILLO</option>
                    <option value="42">VILLA EL SALVADOR</option>
                    <option value="43">VILLA MARIA DEL TRIUNFO</option>
                    <option value="44">PUEBLO LIBRE</option>
                </select>
            </div> -->

            <div class="col-12 col-md-3 mt-4">
                <label for="area">Área:</label>
                <select name="area" id="area" class="form-control" v-model="userMI.area_id">
                    <option  v-for="area in getAreas" :value="area.id" :key="area.id" v-text="area.name"></option>
                </select>
           </div>
           <div class="col-12 col-md-3 mt-4">
              <label for="tribu">Tribu:</label>
           <select name="tribu" id="tribu" class="form-control" v-model="userMI.tribu_id">
                <option  v-for="tribu in getTribus" :value="tribu.Id" :key="tribu.Id" v-text="tribu.nombre"></option>
           </select>
           </div>
        </div>
       <div class="form-group mt-3">
        <label for="imagen">Foto: </label>
            <input type="file" id="imagen" name="imagen"   class="form-control mb-3" @change="getImage" accept="image/*">
            <div v-if="userMI.img"   class="container" style="display:flex;justify-content:center">        
                <b-img  style="height:250px;" fluid :src="'/img_users/' + userMI.img" :alt="userMI.nombre"></b-img>
            </div>
       </div>

       </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="dismiss" @click="clear()">Cancelar</button>
        <button type="button" class="btn btn-primary" @click="saveForm()">Guardar</button>
      </div>
    </div>
  </div>
</div>
      </div>
    
    </div>


      
</template>
<script>
import { mapState, mapMutations, mapActions, mapGetters  } from "vuex";
export default {
  
    data( ) {
        return {
            paginate: ['users'], 
            perPage: 20,
            img: '',
           userMI : {
           }
        }
    }, 
    computed : {
        ...mapState('user' , ['users','tribus','areas','userID']),
        ...mapGetters('user', ['getAreas','getTribus'])
    },
    methods : {
        ...mapActions('user',['getData','updateUser','deleteUser']),
        ...mapMutations('user',['GETUSERBYID']),
        saveForm() {
            let data = new FormData()
            this.userMI.img = this.img
            data.append('img', this.img)
            data.append('area', this.userMI.area_id)
            data.append('codigo', this.userMI.codigo)
            data.append('email', this.userMI.email)
            data.append('fecha_ingreso', this.userMI.fecha_ingreso)
            data.append('horas_totales', this.userMI.horas_totales)
            data.append('id', this.userMI.id)
            data.append('nombres', this.userMI.nombres)
            data.append('tipo_contrato', this.userMI.tipo_contrato)
            data.append('tribu', this.userMI.tribu_id)
            data.append('apellidos', this.userMI.apellidos)
            data.append('genero', this.userMI.genero)
            data.append('documento', this.userMI.documento)
            data.append('n_documento', this.userMI.n_documento)
            data.append('fecha_nacimiento', this.userMI.fecha_nacimiento)
            data.append('nacionalidad', this.userMI.nacionalidad)
            data.append('puesto', this.userMI.puesto )
            data.append('modalidad_contrato', this.userMI.modalidad_contrato )
            data.append('fecha_vencimiento_contrato', this.userMI.fecha_vencimiento_contrato )
            data.append('tiempo', this.userMI.tiempo )
            data.append('banco', this.userMI.banco )
            data.append('interbancario', this.userMI.interbancario )
            data.append('numero_cuenta_bancaria', this.userMI.numero_cuenta_bancaria )
            data.append('email_personal', this.userMI.email_personal )
            data.append('celular', this.userMI.celular)
            data.append('tel_fijo', this.userMI.tel_fijo)
            data.append('persona_emergencia', this.userMI.persona_emergencia)
            data.append('telefono_persona_emergencia', this.userMI.telefono_persona_emergencia)
            data.append('domicilio', this.userMI.domicilio)
            data.append('distrito', this.userMI.distrito)
            this.updateUser(data)

        },
        clear(){
            this.userMI = []
            this.getData()
        },
        asignData() {
            this.userMI = this.userID    
          
        },
     
        getImage(event){   
            this.img = event.target.files[0];
            console.log(event.target.files)
        },
        deleteDialog(id) {
           
            let me = this
            alertify.confirm("Usuarios", 'Desea eliminar al usuario ?',
            function(){
                me.deleteUser(id)
            },
            function(){
                alertify.error('Cancelado');
            });
        }
    },
    mounted () {
        this.getData()
    }
}
</script>
