#alertas_all
	min-height calc(100vh - 38px - 20px - 24px)
	.parpadea
		@media(max-width 767px)
			margin-bottom 30px
.menu.box.despegable
	position: absolute
	top: 100px
	left: 0
	.nav .nav-item
		border-bottom: 1px solid #fff			
#alertas
	position relative
	padding-left: 7.5px
	padding-right: 7.5px
	min-height calc(100vh - 38px - 20px)
	.cuadro
		margin-bottom 7.5px
		padding-right 3.75px
		padding-left 3.75px
		// @media(min-width 992px)
		// 	padding-right 3.75px
		// 	padding-left 3.75px
		@media(max-width 575px)
			text-align center
	// @media(min-width 1200px)
	// 	.cuadro:nth-of-type(4n)
	// 		padding-right 15px
	// @media(min-width 992px) and (max-width 1199px)
	// 	.cuadro:nth-of-type(3n)
	// 		padding-right 15px
	// @media(min-width 576px) and (max-width 767px)
	// 	.cuadro:nth-of-type(2n)
	// 		padding-right 15px
	.cardx
		min-height 100%
		padding 20px
		color #fff
		margin-bottom 0px
		border 1px solid #fff
		border-radius: 12px
		h2
			@media(min-width 576px) and (max-width 767px)
				font-size 32px
			@media(min-width 768px) and (max-width 991px)
				font-size: 30px
			font-size 34px
			line-height: 34px			
		p
			margin-bottom 5px
		p.cliente
			font-size 30px
		p.nombre
			font-size 25px
	.cardx.bg-danger
		background #ef5350 !important
	.cardx.bg-info
		background #29b6f6 !important
	.card.bg-info
		h2
			font-size 35px
		p.cliente
			font-size 30px
	.bg-morado
		background #9c27b0
	.fz1
		h2
			font-size 20px
		p
			font-size 18px
	.parpadea
		@media(max-width 767px)
			margin-bottom 30px
		font-size 24px
		// color #71d90b
		color #2e2e2e
		margin-bottom 15px
		animation-name parpadeo
		animation-duration 1s
		animation-timing-function linear
		animation-iteration-count infinite

		-webkit-animation-name parpadeo
		-webkit-animation-duration 1s
		-webkit-animation-timing-function linear
		-webkit-animation-iteration-count infinite
		b
			font-size 32px
	@-moz-keyframes parpadeo
		0%	
			opacity 1.0
		50%
			opacity 0.0
		100%  
			opacity 1.0
	@-webkit-keyframes parpadeo
		0% 
			opacity 1.0
		50%
			opacity 0.0
		100% 
			opacity 1.0
#colores			
	.indicaciones
		@media(max-width 767px)
			flex-direction column
		list-style none
		padding-left 0px
		margin-bottom 0px
		display flex
		// flex-direction row-reverse
		justify-content flex-end
		li
			display flex
			align-items center
			margin 0 10px
			span
				background red
				display inline-block
				width 32px
				height 20px
				border-radius 6px
				margin-right 3.75px
			.azul
				background #29b6f6
			.rojo
				background #ef5350
			.verde
				background #00e676
#footer
	margin-top: 20px
	background: #263238
	color: #fff
	font-size: 12px
	padding: 10px 0
	a
		color: #dc3545