.detalle_tiket{border:1px solid #222;padding:40px;}.detalle_tiket p{font-weight:500}.detalle_tiket #descripcion{background-color:#e9ecef;}.detalle_tiket #descripcion p{font-weight:400}.detalle_tiket .box-calendario i{position:absolute;top:43px;right:20px}