.detalle_tiket
	border 1px solid #222
	padding 40px
	p
		font-weight 500
	#descripcion
		background-color #e9ecef
		p
			font-weight 400
	.box-calendario
		i
			position absolute
			top 43px
			right 20px