#main
	min-height 520px
.frm-mascara
	text-align center
	margin-bottom 15px
	div
		padding 15px 0px
		margin 0px 5px
		border-bottom 1px solid #f1f1f1
		min-height 55px
		background #fcfcfc
		border-radius 36%
.box-teclado
	text-align center
	font-size 20px
	.row
		div
			background #fbfbfb
			padding 15px 0px
			border 1px solid #f1f1f1
			&:hover
				background #f1f1f1
				cursor pointer
.vn-alerta
	padding-top 5px