:root {
    --color-primary : #0A0025;
    --color-secondary: #f21d4d;
    --alternative-color: #00ffff;
    --color-button: #7A8A9C;
    --color-primary-opacity: rgba(10,0,37, .2);

}

* {
    font-family: 'Catamaran', sans-serif;
}

header ,#main .main-content .btn-crear, #footer, .box-icons-options >div a, #main .menu .nav .nav-item a.active, #main .menu .nav .nav-item a:hover {
     background-color:  var(--color-primary) !important;

}
  .tablahoras .bgprim tr td, .tablahoras table tr th {
      background-color:  var(--color-primary) !important;
  }

  #main .menu .nav .nav-item a{
      background-color: var(--color-button);
  }


.box-icons-options >div a:hover{
     /* background: var(--color-secondary) !important; */
     background: var(--color-secondary);
}
#main .main-content .mitabla thead tr, .pagination li {
    background:var(--color-primary) !important;

}

.btn-custom {
    background-color: var(--color-button);
    border-color: var(--color-button);
    cursor: pointer;
}

.btn-custom:hover, .btn-custom:active{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
    animation: none;
    transition: none;
}

.custom-table thead tr {
    background-color: var(--color-primary) !important ;
}

.custom-table tbody tr td  {
    border-bottom-color: var(--color-primary-opacity) !important ; ;
}

.main-title, title-description  {
    color: var(--color-primary);


}

.custom-div {
    margin-bottom: -40px;
}

.breadcrumb {
    background-color: white;
    height: 0px;

}
.breadcrumb:first-child::before {
    content: 'Estás en ->   ';
}

.breadcrumb-item + .breadcrumb-item::before, .breadcrumb-item a {

    color: var(--color-primary);

}

.breadcrumb-item.active {
    color: var(--color-secondary);
}

.pagination li.active {
    background-color: #f21d4d !important;
}

.linear_separate {
    border-right: 1px solid rgba(10,0,37,.2);
}

@media screen and (max-width: 768px) {
    .linear_separate , .linear_item{
        border-right: none;
        border-bottom: 1px solid rgba(10,0,37,.2);
        margin-bottom: 20px;
    }
    .breadcrumb {
        margin-top: 30px;
    }

    
}

