.detalle_tiket
	border 1px solid #222
	padding 40px
	.h5
		span
			width 13px
			height 13px
			display inline-block
			border-radius 50%
			margin-right 5px
			border 1px solid #222
	p
		margin-bottom 0.5rem
	.btn
		padding .3rem 1.5rem
	div.bg-success
		color #fff
		text-align center
		padding 5px