a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
.mitabla {
  margin-top: 20px;
}
.mitabla thead tr {
  background: #263238;
  color: #fff;
}
.mitabla thead tr th {
  font-weight: 400;
  color: #fff;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}
.mitabla thead tr td {
  font-size: 14px;
}
