@media (max-width: 480px){
	.respo-boton {
		padding-bottom: 13px;
		padding-top: 13px;
	}
}
@media (min-width: 481px){
	.respo-boton {
		padding-bottom: 15px;
		padding-top: 15px;
	}
}
@media (max-width: 480px) {
	.responsi {
		/* padding-left: 55px; */
		margin-left: 55px;
	}
}
@media (min-width: 768px){
	.col-md-1{
		max-width: 4.333333%;
	}
}
/*carousel
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 200%, 200%;
  border-radius: 50%;
  border: 2px solid red;
  background-image: none;
  color:reds;
}


corousel*/
.carousel-indicators li {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin: 10px;
    text-indent: 0;
    cursor: pointer;
    border: none;
    background-color: #0000ff;
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);    
}
/*MOSTRAR*/
#main .contenido{
	z-index: 99;
	position: relative;
	display: none;
}

/*MOSTRAR*/
@media(max-width: 991px){
	.asis-table{
		display: inline-table;
	}
}
/*tabla*/
.btn {
	cursor: pointer;
	padding: 5px 1.5rem;
}

header {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	background-color: #263238;
}

header img {
	width: 80px;
}

header .fecha {
	margin-right: 10px;

}

header a.btn {
	border-color: #fff;
	color: #263238;
	background-color: #fff;
	padding: 0 25px 2px;
	font-size: 14px;
	border-radius: 12px;
}

#main {
	min-height: 520px;
	margin-top: 20px;
}
@media(max-width: 450px){
	#main{
		margin-top: 0;
	}
}
#main .menu {
	position: absolute;
	top: 48px;
	left: 0;
}
@media (max-width: 480px){
	#main .menu{
		top: 0px;
	}
}
#main .menu .nav .nav-item {
	border-bottom: 1px solid #fff;
}

#main .menu .nav .nav-item a {
	color: #fff;
	background-color: #455a64;
	padding-right: 8px;
	padding-left: 8px;
	width: 68.5px;
	transition: width 0.2s linear 0.2s;
	z-index: 99;
	position: relative;
}

#main .menu .nav .nav-item a:hover {
	width: 68.5px;
}

#main .menu .nav .nav-item span {
	display: block;
	font-size: 12px;
}
@media (max-width: 480px){
	#main .menu .nav .nav-item a{
		width: 68.5px;
	}
	#main .menu .nav .nav-item a:hover{
		width: 68.5px;
	}
	#main .menu .nav .nav-item span {
		display: block;
	}
}

#main .main-content .filtrado {
	display: inline-block;
}

#main .main-content .filtrado span {
	background: #ddd;
	color: #000;
	font-size: 13px;
	padding: 6px 15px;
	border-radius: 5px;
}

#main .main-content .btn-crear{
	background: #263238;
	display: inline-block;
	padding: 7px 15px;
	cursor: pointer;
	font-size: 13px;
	line-height: 13px;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 20px;
}
@media (max-width: 480px){
	#main .main-content .btn-crear{
		padding: 7px 7px;
		font-size: 10px;
	}
}
@media (max-width: 360px){
		#main .main-content .btn-crear{
		padding: 7px 4px;
		font-size: 10px;
}
}
#main .main-content .btn-crear:hover {
	background-color: #f4511e;
}
#main .main-content .mitabla {
	margin-top: 20px;

}

#main .main-content .mitabla thead tr {
	background: #263238;
	color: #fff;
}

#main .main-content .mitabla thead tr th {
	font-weight: 400;
	color: #fff;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
}

#main .main-content .mitabla tbody tr td {
	font-size: 14px;
}

#main .main-content .mitabla tbody tr td .btn {
	padding: 1px 0.75rem;
	font-size: 14px;
}

#main .main-content .mitabla tbody tr td .tck-estado {
	padding: 2px 8px;
	font-size: 11px;
	border-radius: 3px;
}

#main .main-content .mitabla tbody tr td .tck-proceso {
	background-color: #29b6f6;
	color: #fff;
}

#main .main-content .mitabla tbody tr td .tck-culminado {
	background-color: #ffc107;
	color: #505050;
}

#main .main-content .mitabla tbody tr td .tck-atrazado {
	background-color: #ef5350;
	color: #fff;
}

#main .main-content .mitabla tbody tr td .tck-aprobado {
	background-color: #00e676;
	color: #fff;
}

#main .main-content .mitabla tbody tr td .tck-sin-asignar {
	background-color: #fff;
	color: #505050;
	border: 1px solid #505050;
}

#main .main-content .mitabla tbody tr td .tck-asignado {
	background-color: #007bff;
	color: #fff;
}

#main .main-content .mitabla tbody tr td .tck-parado {
	background-color: #f4511e;
	color: #fff;
}

#main .menu .nav .nav-item a.active,
#main .menu .nav .nav-item a:hover {
	background: #263238;
	color: #fff;
}

.table-bordered th {
	 border: 1px solid #263238;
 }

.table-bordered tbody tr:last-child td {
	border-bottom: 1px solid #ececec;
}

.table-bordered td {
	border-left: 1px solid #ececec;
	border-right: 1px solid #ececec;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}

.page-link {
	border: 1px solid #222;
	color: #222;
}

.page-link:focus,
.page-link:hover {
	color: #fff;
	background: #222;
	border: 1px solid #222;
}

.oculto {
	display: none;
}

#validar_tiket .modal-header {
	border-bottom: 0;
	padding: 0;
	height: 0;
}

#validar_tiket .modal-header .close {
	padding: 0 8px 5px;
	margin: 0;
	position: absolute;
	right: 0;
	background: #222;
	opacity: 1;
	color: #fff;
	line-height: 32px;
	text-shadow: 0 1px 0 #fff;
	z-index: 9;
	cursor: pointer;
}

#validar_tiket .modal-body {
	padding: 30px;
}

#validar_tiket .modal-body h4 {
	margin-bottom: 20px;
}

.error {
	color: #dc3545;
	font-size: 13px;
}

.pagination {
	justify-content: center !important;
}

.pagination li {
	background: #020202;
	color: #fff;
}

.pagination li.active {
	background: #007bff;
}

.pagination li a,
.pagination li span {
	color: #fff;
	padding: 5px 12px;
	display: block;
}
@media(max-width: 425px){
	.pagination li span{
		font-size: 8px;
		padding: 5px 6px;
	}
	.pagination li a{
		font-size: 8px;
	}
}

#footer {
	margin-top: 20px;
	background: #263238;
	color: #fff;
	font-size: 12px;
	padding: 10px 0;
}

#footer p {
	margin: 0;
}

#footer a {
	color: #dc3545;
}

.tablahoras table tr th {
	background: #018679;
	color: #fff;
	text-align: center;
}

.tablahoras table tr td {
	vertical-align: middle;
	position: relative;
}

.tablahoras table tr td .validar {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.tablahoras table tr .h-active {
	background: #ddd;
	text-align: center;
}

.tablahoras table tr .h-active h2 {
	font-size: 15px;
}

.tablahoras table tr .h-active p {
	margin: 0;
	padding: 0;
}

.tablahoras table tr .addtk {
	cursor: pointer;
}

.tablahoras .bgprim tr td {
	background: #018679;
	color: #fff;
}

.bg-gris {
	background: #64b5f6;
	color: #fff;
}

.horas-2 {
	/*height: 92px;*/
	height: 140px;
}

.horas-3 {
	/* height: 138px;*/
	height: 210px;
}

.horas-4 {
	/*height: 184px;*/
	height: 280px;
}

.horas-5 {

	/*height: 230px;*/
	height: 350px;
}

.horas-1 {
	/*height: 46px;*/
	height: 70px;
	padding: 1px !important;
}

.horas-1 h2 {
	font-size: 13px !important;
	margin-bottom: 0;
}

.horas-1 p {
	font-size: 10px;
}

.btn-tabs {
	background: #018679;
	color: #fff;
}

.btn-tabs:hover {
	color: #fff;
}

@media (max-width: 991px) {
	.box {
		padding-right: 0;
	}
}

@media (max-width: 767px){
	.time span {
		display: none;
	}

	.time a {
		margin-top: 5px;
	}

	.b-box {
		margin-top: 20px;
	}

	#main .main-content {
		margin-top: 0;
	}

	.menu ul {
		width: 100%;
	}
}
@media(max-width: 450px){
	#main .main-content{
		margin-top: 0px;
	}
}
#filtro {
	padding-top: 15px;
	padding-bottom: 20px;
}
@media (max-width: 590px){
	#filtro{
		margin-top: 80px;
	}
}
@media(max-width: 490px){
	#filtro{
		margin-top: 30px;
	}
}
#filtro label {
	color: #505050;
	margin-right: 15px;
}
@media (max-width: 425px){
	.fech{
	padding-left: 10px;
	}
	#filtro a.btn-filtro.fil-last{
	padding-left: 4px;
	padding-right: 4px;
	border-top-right-radius: 0px;
	border-bottom-left-radius:0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	}
	#filtro a.btn-filtro.fil-med{
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;

	}
}
#filtro a.btn-filtro {
	background-color: #eceff1;
	text-decoration: none;
	color: #6a6a6a;
	font-size: 14px;
	padding: 7px 12px;
}

#filtro a.btn-filtro i {
	color: #cfd8dc;
}

#filtro a.btn-filtro.act {
	background-color: #36474f;
	color: #eceff1;
}

#filtro a.btn-filtro.act i {
	color: #eceff1;
}

#filtro a.btn-filtro.fil-first {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#filtro a.btn-filtro.fil-last {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
@media (max-width: 430px){
	#filtro a{
		margin-top: 20px;
	}
}
#filtro .btn-buscar {
	background-color: #eceff1;
	text-decoration: none;
	color: #6a6a6a;
	font-size: 14px;
	padding: 7px 12px;
	border-radius: 5px;
	border: 0px;
	height: 34px;
	cursor: pointer;
}

#filtro .btn-buscar i {
	color: #36474f;
}

#filtro input {
	border: 1px solid #ccc;
	padding: 3.5px 10px;
	border-radius: 5px;
	font-size: 15px;
	height: 34px;
}

#filtro select {
	width: 200px;
	display: inline-block;
	padding: 3.5px 10px;
	border: 1px solid #ccc;
	height: 34px;
}

#filtro form {
	display: none;
}

#filtro form.active {
	display: inline-block;
}

#btn-estados {
	padding-top: 20px;
	padding-bottom: 10px;
}

#btn-estados .cuadro {
	display: inline-block;
	padding: 7px 65px;
	cursor: pointer;
	font-size: 12px;
	line-height: 13px;
	text-decoration: none;
	border-radius: 5px;
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;

}
@media(max-width: 768px){
	#btn-estados .cuadro{
		padding: 7px 32px;
	}
}
@media(max-width: 490px){
	#btn-estados .cuadro{
		font-size: 9px;
		margin-top: 1px;
		margin-bottom: 1px;
		padding: 7px 10px;
	}

}
@media (max-width: 375px){
	#btn-estados .cuadro{
		font-size: 8px;
		padding: 7px 6px;
	}
}
#btn-estados .cuadro.cuadro-sin-asignar {
	background-color: #fff;
	color: #505050;
	border: 1px solid #505050;
}

#btn-estados .cuadro.cuadro-asignados {
	background-color: #007bff;
	color: #fff;
}

#btn-estados .cuadro.cuadro-en-proceso {
	background-color: #29b6f6;
	color: #fff;
}

#btn-estados .cuadro.cuadro-culminados {
	background-color: #ffc107;
	color: #505050;
}

#btn-tags {
	padding-top: 0px;
	padding-bottom: 10px;
}

#btn-tags a {
	text-decoration: none;
	font-size: 12px;
	color: #505050;
	margin-left: 5px;
	margin-right: 5px;
}

#btn-tags a span {
	padding: 1px 4px;
	background-color: #f00;
	font-size: 10px;
	border-radius: 4px;
}

#btn-tags a span.tag-atrazados {
	background-color: #ef5350;
	color: #fff;
}

#btn-tags a span.tag-aprobados {
	background-color: #00e676;
	color: #fff;
}
.btn{cursor:pointer;padding:5px 1.5rem}
header{
	padding-top:10px;
	padding-bottom:10px;
	color:#fff;
	background-color:#263238;
	min-height: 54px;
}
header img{width:80px}header .fecha{margin-right:10px}header a.btn{border-color:#fff;color:#263238;background-color:#fff;padding:0 25px 2px;font-size:14px;border-radius:12px}
.container__botonera{
	padding-top: 20px;
}
#main{
	min-height:520px;
	/* margin-top:20px; */
	margin-top: 0;
}
.main__container__slide{
	padding-top: 20px;
}
#main .menu{
	/* position:absolute;
	top:100px;
	left:0; */
	/* position: fixed; */
	left: 0;
	top:0 !important;
	z-index: 9999;
	/* height: 55px; */
}
#main .menu .nav .nav-item{border-bottom:1px solid #fff;}#main .menu .nav .nav-item a{color:#fff;background-color:#455a64;padding-right:8px;padding-left:8px;width:84px;transition:width .2s linear .2s;}
#main .menu .nav .nav-item a:hover{
	/* width:94px; */
	width: 84px;
}
#main .menu .nav .nav-item span{display:block;font-size:12px}#main .main-content .filtrado{display:inline-block;}#main .main-content .filtrado span{background:#ddd;color:#000;font-size:13px;padding:6px 15px;border-radius:5px}#main .main-content .btn-crear{background:#263238;display:inline-block;padding:7px 15px;cursor:pointer;font-size:13px;line-height:13px;text-decoration:none;border-radius:5px;color:#fff;margin-left:5px;margin-right:5px;margin-bottom:20px;}#main .main-content .btn-crear:hover{background-color:#f4511e}#main .main-content .mitabla{margin-top:20px;}#main .main-content .mitabla thead tr{background:#263238;color:#fff;}#main .main-content .mitabla thead tr th{font-weight:400;color:#fff;padding-top:5px;padding-bottom:5px;font-size:14px}#main .main-content .mitabla tbody tr td{font-size:14px;}#main .main-content .mitabla tbody tr td .btn{padding:1px .75rem;font-size:14px}#main .main-content .mitabla tbody tr td .tck-estado{padding:2px 8px;font-size:11px;border-radius:3px}#main .main-content .mitabla tbody tr td .tck-proceso{background-color:#29b6f6;color:#fff}#main .main-content .mitabla tbody tr td .tck-culminado{background-color:#ffc107;color:#505050}#main .main-content .mitabla tbody tr td .tck-atrazado{background-color:#ef5350;color:#fff}#main .main-content .mitabla tbody tr td .tck-aprobado{background-color:#00e676;color:#fff}#main .main-content .mitabla tbody tr td .tck-sin-asignar{background-color:#fff;color:#505050;border:1px solid #505050}#main .main-content .mitabla tbody tr td .tck-asignado{background-color:#007bff;color:#fff}#main .main-content .mitabla tbody tr td .tck-parado{background-color:#f4511e;color:#fff}#main .menu .nav .nav-item a.active,#main .menu .nav .nav-item a:hover{background:#263238;color:#fff}.table-bordered th{border:1px solid #263238}.table-bordered tbody tr:last-child td{border-bottom:1px solid #ececec}.table-bordered td{border-left:1px solid #ececec;border-right:1px solid #ececec;border-top:1px solid #fff;border-bottom:1px solid #fff}.page-link{border:1px solid #222;color:#222}.page-link:focus,.page-link:hover{color:#fff;background:#222;border:1px solid #222}.oculto{display:none}#validar_tiket .modal-header{border-bottom:0;padding:0;height:0;}#validar_tiket .modal-header .close{padding:0 8px 5px;margin:0;position:absolute;right:0;background:#222;opacity:1;color:#fff;line-height:32px;text-shadow:0 1px 0 #fff;z-index:9;cursor:pointer}#validar_tiket .modal-body{padding:30px;}#validar_tiket .modal-body h4{margin-bottom:20px}.error{color:#dc3545;font-size:13px}.pagination{justify-content:center !important;}.pagination li{background:#020202;color:#fff;}.pagination li.active{background:#007bff}.pagination li a,.pagination li span{color:#fff;padding:5px 12px;display:block}#footer{margin-top:20px;background:#263238;color:#fff;font-size:12px;padding:10px 0;}#footer p{margin:0}#footer a{color:#dc3545}.tablahoras table tr th{background:#018679;color:#fff;text-align:center}.tablahoras table tr td{vertical-align:middle;position:relative;}.tablahoras table tr td .validar{position:absolute;top:0;right:0;border:0}.tablahoras table tr .h-active{background:#ddd;text-align:center;}.tablahoras table tr .h-active h2{font-size:15px}.tablahoras table tr .h-active p{margin:0;padding:0}.tablahoras table tr .addtk{cursor:pointer}.tablahoras .bgprim tr td{background:#018679;color:#fff}.bg-gris{background:#64b5f6;color:#fff}.horas-2{height:92px}.horas-3{height:138px}.horas-4{height:184px}.horas-5{height:230px}.horas-1{height:46px;padding:1px !important;}.horas-1 h2{font-size:13px !important;margin-bottom:0}.horas-1 p{font-size:10px}.btn-tabs{background:#018679;color:#fff;}.btn-tabs:hover{color:#fff}@media (max-width:991px){.box{padding-right:0}}@media (max-width:767px){.time span{display:none}.time a{margin-top:5px}.b-box{margin-top:20px}#main .main-content{margin-top:20px}.menu ul{display:-webkit-inline-box}}#filtro{padding-top:15px;padding-bottom:20px;}#filtro label{color:#505050;margin-right:15px}#filtro a.btn-filtro{background-color:#eceff1;text-decoration:none;color:#6a6a6a;font-size:14px;padding:7px 12px;}#filtro a.btn-filtro i{color:#cfd8dc}#filtro a.btn-filtro.act{background-color:#36474f;color:#eceff1;}#filtro a.btn-filtro.act i{color:#eceff1}#filtro a.btn-filtro.fil-first{border-top-left-radius:5px;border-bottom-left-radius:5px}#filtro a.btn-filtro.fil-last{border-top-right-radius:5px;border-bottom-right-radius:5px}#filtro .btn-buscar{background-color:#eceff1;text-decoration:none;color:#6a6a6a;font-size:14px;padding:7px 12px;border-radius:5px;border:0;height:34px;cursor:pointer;}#filtro .btn-buscar i{color:#36474f}#filtro input{border:1px solid #ccc;padding:3.5px 10px;border-radius:5px;font-size:15px;height:34px}#filtro select{width:200px;display:inline-block;padding:3.5px 10px;border:1px solid #ccc;height:34px}#filtro form{display:none;}#filtro form.active{display:inline-block}#btn-estados{padding-top:20px;padding-bottom:10px;}#btn-estados .cuadro{display:inline-block;padding:7px 65px;cursor:pointer;font-size:12px;line-height:13px;text-decoration:none;border-radius:5px;color:#fff;margin-left:5px;margin-right:5px;}#btn-estados .cuadro.cuadro-sin-asignar{background-color:#fff;color:#505050;border:1px solid #505050}#btn-estados .cuadro.cuadro-asignados{background-color:#007bff;color:#fff}#btn-estados .cuadro.cuadro-en-proceso{background-color:#29b6f6;color:#fff}#btn-estados .cuadro.cuadro-culminados{background-color:#ffc107;color:#505050}#btn-tags{padding-top:0;padding-bottom:10px;}#btn-tags a{text-decoration:none;font-size:12px;color:#505050;margin-left:5px;margin-right:5px;}#btn-tags a span{padding:1px 4px;background-color:#f00;font-size:10px;border-radius:4px;}#btn-tags a span.tag-atrazados{background-color:#ef5350;color:#fff}#btn-tags a span.tag-aprobados{background-color:#00e676;color:#fff}
.header__imagen{
	position: absolute;
	top: 0;
	right: calc(15px);
	margin-bottom: 0;
	width: 60px;
	height: 60px;
}
.header__imagen_div__logo{
	width: 60px;
	height: 60px;
}
.header__imagen__logo{
	/* border-radius: 50%; */
}
.header__imagen__desc{
	margin-bottom: 0;
}
/* imagen circular */
.container_img{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: #fff;
}
.container_img .card{
	z-index: 9;
    align-items: center;
    overflow: hidden;
    width: 55px;
    height: 55px;
	border-radius: 50%;
	margin-right: 15px;
}
.container_img .card img{
	width: unset;
	height: unset;
	background-color:#fff;
	margin-top: -15px;
	width: 70px;
	transition: all .5s;
}
.container_img .card img:hover{
	transform: scale(1.25);
}
.container_img .card-title{
	color: #fff;
	margin-bottom: 0;
	margin-right: 30px;
}

.box-icons-options >div a{
	background: #263238;
	padding: 20px;
	margin-bottom: 15px;
	transition: .2s;
}
.box-icons-options >div a:hover{
	background: #f00;
}
.box-icons-options >div a i{
	font-size: 40px;
	display: block;
}
.disable_table{
	position: relative;
}
.disable_table:after{
	content: "";
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	background:rgba(0,0,0,0);
	display: block;
}

.disable_table tr td i{
	display: none;
}
.disable_table.alert_falto tr td{
	height: 46px;
	background: #ef9a9a;
	height: 46px;
}
.disable_table.alert_vaciones tr td{
	background: #dce775;
	height: 46px;
}
.disable_table.alert_justificacion tr td{
	background: #c5e1a5;
	height: 46px;
}
.leyenda p{
	font-size: 14px;
	display: inline-block;
}
.leyenda p .alert_puntual{
	background: #75FF00;
	height: 10px;
    width: 10px;
    display: inline-block;
}
.leyenda p .alert_muytarde{
	background: #fd0303;
	height: 10px;
    width: 10px;
    display: inline-block;
}
.leyenda p .alert_vacaciones{
	background: #5F6B6D;
	height: 10px;
    width: 10px;
    display: inline-block;
}
.leyenda p .alert_falto{
	background: #ef9a9a;
	height: 10px;
    width: 10px;
    display: inline-block;
}
.leyenda p .alert_noexistio{
	background: #000000;
	height: 10px;
    width: 10px;
    display: inline-block;
}
.leyenda p .alert_justificacion{
	background: #99E3DD;
	height: 10px;
    width: 10px;
    display: inline-block;
}


/* slick slider */
#reloj_header{
	width: 75px;
	margin-right: 37px;
}
/* .slider.responsive .slick-slide{ */
.slider[class*="responsive"] .slick-slide{
	margin: 0 7.5px;
	/* height: 290px; */
	height: 260px;
}
.slider[class*="responsive"] .slick-slide a{
	height: 100%;
	border-radius: 15px;
	background-size: cover;
	background-position: center;
	position: relative;
	background-repeat: no-repeat;
	/* transition: all 0.5s; */
	/* transition: background-image 0.5s ease-in-out; */
}
.slider[class*="responsive"] .slick-slide a:hover{
	/* transition: background-image 0.5s ease-in-out;
	background-size: 150%; */
	/* transition: all 0.5s; */
}
.box-icons-options > div a:hover{
	background-color: unset;
}
.slick_contenido{
	background-color: var(--color-primary);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	display: flex;	
	align-items: center;
	padding: 7.5px;
}
.slick__contenido__img{
	margin-left: 15px !important;
	margin-right: 15px !important;
}
.slick_contenido .texto{
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
}
.slick_contenido .texto .texto__descripcion{
	font-size: 12px;
	line-height: 16px;
	margin-right: 15px;
}
.box-icons-options >div a i{
	font-size: 30px;
    margin-left: 15px;
    margin-right: 22.5px;	
}
.slider[class*="responsive"]{
	margin-bottom: 22.5px;
}
@media(max-width: 991px){
	.container_img .card-title{
		display: none;
	}		
	.slider[class*="responsive2"] .texto__descripcion{
		display: none;
	}
	.slider[class*="responsive2"] .slick_contenido{
		min-height: 63px;
	}	

	.slider.responsive .slick_contenido{
		min-height: 71px;
	}
}
@media(max-width:767px){
	.main__container__slide,
	.main__container__slide > div,
	.main__container__slide > div >div {
		padding-left: 0;
		padding-right: 0;
	}
	#ifame_wik{
		min-height: 266px;
	}
	#main .menu .tops__menu__burger li{
		border: unset !important;
	}

	.slider[class*="responsive"] .slick-slide{
		/* width: 420px !important ; */
		height: 380px;
	}
	.slider[class*="responsive"] .slick-slide.slick-active{
		/* margin-left: 60px; */
	}

	/* slider2 */
	.slider[class*="responsive2"] .slick_contenido{
		min-height: 43px;
	}
	.slider[class*="responsive2"] .slick_contenido i{
		font-size: 15px;
		margin-left: 7.5px;
		margin-right: 15px;
	}
	.slider[class*="responsive2"] .slick_contenido .texto .texto__descripcion{
		margin-right: 7.5px;
	}
	.slider[class*="responsive2"] .texto__descripcion{
		display: none;
	}
	.slider[class*="responsive2"] .slick-slide{
		height: 225px;
	}
	.slider[class*="responsive2"] .texto span:nth-of-type(1){
		/* line-height: 18px; */
		font-size: 12px;
		line-height: 14px;		
	}
	.slider[class*="responsive2"] .slick__contenido__img{
		width: 28px !important;
		margin-left: 7.5px !important;
		margin-right: 7.5px !important;
	}
	
	.slider.responsive .slick-slide.slick-active {
		width: 288px !important;
	}
	.slider[class*="responsive2"] .slick-slide.slick-active {
		width: 138px !important;
	}

}

@media(max-width:430px){
	.slider[class*="responsive2"] .texto span:nth-of-type(1){
		font-size: 10px;
	}
	.slider.responsive .slick-slide.slick-active {
		width: 255px !important;
	}	
	.slider[class*="responsive2"] .slick-slide.slick-active {
		width: 120px !important;
	}
}


/* header */
@media(min-width:768px) and (max-width: 851px){
	header .responsi{
		margin-left: 84px;
	}

}
/* @media (min-width: 480px) and (max-width: 652px){ */
@media (min-width: 480px) and (max-width: 575px){
	.responsi {
		/* padding-left: 55px; */
		margin-left: 55px;
	}
}

@media (min-width: 576px) and (max-width: 992px){
	.container_img {
		display: flex !important;
	}
}
@media(min-width: 992px) and (max-width: 1199px){
	#reloj_header{
		margin-right: 0;
	}
	.container_img .card-title{
		margin-right: 7.5px;
		font-size: 16px;
	}
}
#main .menu .nav .nav-item a{
	background-color: #0a0025 !important;
}
.tops__menu__burger li{
	border-bottom: unset!important;
}
#main .menu .tops__menu__burger__items .nav-item a{
	background-color: var(--color-button) !important;
}

@media(min-width:1200px){
	.slider.responsive2_2 .slick_contenido{
		min-height: 71px;
	}
}
@media(min-width:992px) and (max-width: 1199px){
	.slider.responsive2_2 .slick_contenido{
		min-height: 87px;
	}
}