.respo-boton
    @media (max-width: 480px)
        padding-bottom: 13px
        padding-top: 13px
    @media(min-width 481px)
        padding-bottom: 15px
        padding-top: 15px
.responsi
    @media (max-width: 480px)
        padding-left: 55px
.col-md-1        
    @media (min-width: 768px)
        max-width: 4.333333%
.carousel-indicators
    li
        display: inline-block
        width: 48px
        height: 48px
        margin: 10px
        text-indent: 0
        cursor: pointer
        border: none
        background-color: #0000ff
        box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5)
#main
    @media(max-width 450px)
        margin-top 0px
    .contenido
        z-index: 99
        position: relative
        display: none
    .menu
        position: absolute
        top: 48px
        left: 0
        @media(max-width 480px)
            top 0px
.asis-table
    @media(max-width 991px)
        display inline-table
        
// original
.btn
    cursor pointer
    padding 5px 1.5rem

header
    padding-top 10px
    padding-bottom 10px
    color #fff
    background-color #263238
    img
        width 80px
    .fecha
        margin-right 10px
    a
        &.btn
            border-color #fff
            color #263238
            background-color #fff
            padding 0 25px 2px
            font-size 14px
            border-radius 12px

#main
    min-height 520px
    margin-top 20px
    .menu
        position absolute
        top 100px
        left 0
        .nav
            .nav-item
                border-bottom 1px solid #fff
                a
                    color #fff
                    background-color #455a64
                    padding-right 8px
                    padding-left 8px
                    width 68.5px
                    transition width .2s linear .2s
                    z-index 99
                    position relative
                    &:hover
                        width 68.5px
                span
                    display block
                    font-size 12px
    .main-content
        .filtrado
            display inline-block
            span 
                background: #dddddd
                color: #000000
                font-size: 13px
                padding: 6px 15px
                border-radius: 5px
        .btn-crear
            background #263238
            display inline-block
            padding 7px 15px
            cursor pointer
            font-size 13px
            line-height 13px
            text-decoration none
            border-radius 5px
            color white
            margin-left 5px
            margin-right 5px
            margin-bottom 20px
            &:hover
                background-color #f4511e
        .mitabla
            margin-top 20px
            thead
                tr
                    background #263238
                    color #fff
                    th
                        font-weight 400
                        color #fff
                        padding-top 5px
                        padding-bottom 5px
                        font-size 14px
            tbody
                tr
                    td
                        font-size 14px
                        .btn
                            padding 1px .75rem
                            font-size 14px
                        .tck-estado
                            padding 2px 8px
                            font-size 11px
                            border-radius 3px
                        .tck-proceso
                            background-color #29b6f6
                            color white
                        .tck-culminado
                            background-color #ffc107
                            color #505050
                        .tck-atrazado
                            background-color #ef5350
                            color white
                        .tck-aprobado
                            background-color #00e676
                            color white
                        .tck-sin-asignar
                            background-color white
                            color #505050
                            border 1px solid #505050
                        .tck-asignado
                            background-color #007bff
                            color white
                        .tck-parado
                            background-color #f4511e
                            color white

#main .menu .nav .nav-item a.active,#main .menu .nav .nav-item a:hover
    background #263238
    color #fff

.table-bordered
    th
        border 1px solid #263238
    tbody
        tr
            &:last-child
                td
                    border-bottom 1px solid #ececec
    td
        border-left 1px solid #ececec
        border-right 1px solid #ececec
        border-top 1px solid white
        border-bottom 1px solid white

.page-link
    border 1px solid #222
    color #222

.page-link:focus,.page-link:hover
    color #fff
    background #222
    border 1px solid #222

.oculto
    display none

#validar_tiket
    .modal-header
        border-bottom 0
        padding 0
        height 0
        .close
            padding 0 8px 5px
            margin 0
            position absolute
            right 0
            background #222
            opacity 1
            color #fff
            line-height 32px
            text-shadow 0 1px 0 #fff
            z-index 9
            cursor pointer
    .modal-body
        padding 30px
        h4
            margin-bottom 20px

.error
    color #dc3545
    font-size 13px

.pagination
    justify-content center !important
    li
        background #020202
        color #fff
        &.active
            background #007bff

.pagination li a,.pagination li span
    color #fff
    padding 5px 12px
    display block

#footer
    margin-top 20px
    background #263238
    color #fff
    font-size 12px
    padding 10px 0
    p
        margin 0
    a
        color #dc3545

.tablahoras
    table
        tr
            th
                background #018679
                color #fff
                text-align center
            td
                vertical-align middle
                position relative
                .validar
                    position absolute
                    top 0
                    right 0
                    border 0
            .h-active
                background #ddd
                text-align center
                h2
                    font-size 15px
                p
                    margin 0
                    padding 0
            .addtk
                cursor pointer
    .bgprim
        tr
            td
                background #018679
                color #fff

.bg-gris
    background #64b5f6
    color #fff

.horas-2
    height 92px

.horas-3
    height 138px

.horas-4
    height 184px

.horas-5
    height 230px

.horas-1
    height 46px
    padding 1px !important
    h2
        font-size 13px !important
        margin-bottom 0
    p
        font-size 10px

.btn-tabs
    background #018679
    color #fff
    &:hover
        color #fff

@media (max-width:991px)
    .box
        padding-right 0

@media (max-width:767px)
    .time
        span
            display none
        a
            margin-top 5px
    .b-box
        margin-top 20px
    #main
        .main-content
            margin-top 20px
    .menu
        ul
            display -webkit-inline-box

#filtro
    padding-top 15px
    padding-bottom 20px
    label
        color #505050
        margin-right 15px
    a
        &.btn-filtro
            background-color #eceff1
            text-decoration none
            color #6a6a6a
            font-size 14px
            padding 7px 12px
            i
                color #cfd8dc
            &.act
                background-color #36474f
                color #eceff1
                i
                    color #eceff1
            &.fil-first
                border-top-left-radius 5px
                border-bottom-left-radius 5px
            &.fil-last
                border-top-right-radius 5px
                border-bottom-right-radius 5px
    .btn-buscar
        background-color #eceff1
        text-decoration none
        color #6a6a6a
        font-size 14px
        padding 7px 12px
        border-radius 5px
        border: 0px;
        height: 34px;
        cursor: pointer;
        i
            color #36474f
    input
        border 1px solid #cccccc
        padding 3.5px 10px
        border-radius 5px
        font-size: 15px;
        height: 34px;
    select 
        width: 200px
        display inline-block
        padding 3.5px 10px
        border 1px solid #cccccc
        height: 34px
    form 
        display: none
        &.active
            display inline-block
#btn-estados
    padding-top 20px
    padding-bottom 10px
    .cuadro
        display inline-block
        padding 7px 65px
        cursor pointer
        font-size 12px
        line-height 13px
        text-decoration none
        border-radius 5px
        color white
        margin-left 5px
        margin-right 5px
        &.cuadro-sin-asignar
            background-color white
            color #505050
            border 1px solid #505050
        &.cuadro-asignados
            background-color #007bff
            color white
        &.cuadro-en-proceso
            background-color #29b6f6
            color white
        &.cuadro-culminados
            background-color #ffc107
            color #505050

#btn-tags
    padding-top 0px
    padding-bottom 10px
    a
        text-decoration none
        font-size 12px
        color #505050
        margin-left 5px
        margin-right 5px
        span
            padding 1px 4px
            background-color red
            font-size 10px
            border-radius 4px
            &.tag-atrazados
                background-color #ef5350
                color white
            &.tag-aprobados
                background-color #00e676
                color white