.detalle_tiket {
	border: 1px solid #222;
	padding: 40px;
	margin-top: 50px;
}

.detalle_tiket .invitados a {
	margin-top: 33px;
}

.detalle_tiket .box-calendario i {
	position: absolute;
	top: 42px;
	right: 20px;
}

.detalle_tiket #lista_colaborador {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.detalle_tiket #lista_colaborador li {
	display: inline-block;
	margin: 0px 4px;    
	background: #d4d4d4;
}

.detalle_tiket #lista_colaborador li span {
	padding: 5px;
	display: inline-block;
}

.detalle_tiket #lista_colaborador li .delete_item {
	background: #222;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
}