.detalle_tiket
	border 1px solid #222
	padding 40px
	.invitados
		a
			margin-top 33px
	.box-calendario
		i
			position absolute
			top  42px
			right 20px
	#lista_colaborador
		list-style none
		margin 0px
		padding 0px
		li 
			display inline-block
			margin 0px 4px
			background #d4d4d4
			span 
				padding 5px
				display inline-block
			.delete_item
				background #222
				color #fff
				padding 5px 10px
				cursor pointer
				