.detalle_tiket{border:1px solid #222;padding:40px;margin-top: 50px}.detalle_tiket .box-calendario i{position:absolute;top:42px;right:20px}@media (max-width:991px){.form-control-2{font-size:14px}}@media (max-width:767px){.form-row-2{display:block}}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    padding: 0px 9px;
}
.input-group-text {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.input-group>.input-group-prepend>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-group>.custom-select:not(:first-child), .input-group>.form-control:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.bg-danger2{
    color: #fff;
    background: #dc3545;
    border: 1px solid #dc3545;
    height: 32px;
}
.int-cliente .h32{
    height: 32px;
}
#divAddIntC, #AddAcuerdoIntC{
    position: relative;
}
#divAddIntC:before, #AddAcuerdoIntC:before {
    content: "";
    display: block;
    border: 0.5px solid #ddd;
    width: 1px;
    height: 80%;
    position: absolute;
    left: -14px;
    top: 46px;
}
.acuerdos{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.button .btn-info{
    cursor: pointer;
    padding: 4px 8px;
    font-size: 10px;
}
.integrantes_m {
    display: grid;
    grid-template-columns:  40% 40%;
    text-align: left;
    font-size: 1em;
    grid-row-gap: 0px;
}
.integrantes_m p, .integrantes_m label{
    margin-bottom: 5px;
}
.integrantes_m p i, .integrantes_m label i{
    font-size: 8px;
    vertical-align: middle;
}
.progress{
    margin-bottom: 5px;
    height: 5px;
}
.title_acuerdos {
    color: #717171;
    font-weight: 500;
    font-size: 13px;
}
.acuerdos p{
    text-align: left;
    background: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    margin: 0px;
    border: 1px solid #ddd;
}
.acuerdos .check{
    position: absolute;
    bottom: -2px;
    right: -10px;
}
.acuerdos .btn{
    position: absolute;
    right: -8px;
    top: -7px;
    width: 20px;
    padding: 1px 0px 0px 0px;
    height: 20px;
    font-size: 10px;
    border-radius: 50%;
}
.border-l:before{
    content: "";
    border: 0.5px solid #ddd;
    width: 1px;
    height: 90%;
    position: absolute;
    left: -3px;
    display: block;
}

.form_add .form-group {
    margin-top: 0;
    margin-bottom: 5px;
}
.form_add .form-group .btn{
    font-size: 14px;
    padding: 5px 19px;
}
.items_temas {
    box-shadow: 0px 0px 1px #eaeaea;
    border: 1px solid #ddd;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    margin-top:5px;
}
.eliminar_tema{
    position: absolute;
    top: 0px;
    right: 0px;
    background: #dc3545;
    color: #fff;
    padding: 10px 15px;
    font-size: 10px;
    z-index: 2;
}

#addservicio .modal-header .close{
    padding: 3px 10px;
    cursor: pointer;
}
#addservicio h4{
    font-size: 20px;
    text-decoration: underline;
    margin-bottom: 5px;
}
#addservicio .input-group>.input-group-prepend>.input-group-text {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#addservicio .note-toolbar .btn {
    padding: 5px 10px;
}