.detalle_tiket{border:1px solid #222;padding:40px;}.detalle_tiket .box-calendario i{position:absolute;top:42px;right:20px}@media (max-width:991px){.form-control-2{font-size:14px}}@media (max-width:767px){.form-row-2{display:block}}