    a 
        color: white
        text-decoration: none
    
        &:hover 
            color: white
            text-decoration: none
        
    .mitabla 
        margin-top: 20px;
        thead 
            tr
                background: #263238;
                color: #fff;
                th 
                    font-weight: 400
                    color: #fff
                    padding-top: 5px
                    padding-bottom: 5px
                    font-size: 14px
                td 
                     font-size: 14px

        
   